body{
    background: url(https://images.unsplash.com/photo-1503767849114-976b67568b02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-attachment: fixed;
}
.main{
    display: block;
    padding-bottom: 10px;
}
.nav{
    color: white;
    font-weight: bold;
}
.nav ul{
    display: flex;
    float: right;
}
.nav li{
    list-style: none;
    padding-left: 50px;
}
.butter{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 70px;
}
.menu{
    display: flex;
    justify-content: center;
}
.m1{
    font-size: 50px;
    color: white;
    text-align: center;
}
.size{
    width: 200px;
    height: 40px;
    font-size:15px;
}
.toppings{
    width: 200px;
    height: 40px;
    font-size:15px;
}
.crust{
    width: 200px;
    height: 40px;
    font-size:15px;
}
.size1{
    background-color: white;
    margin-right: 20px;
    padding: 50px;
}
.top1{
    background-color: white;
    margin-right: 20px;
    padding: 50px;
}
.crust1{
    background-color: white;
    margin-right: 20px;
    padding: 50px;
}
#img1{
    height:200px;
}
#img2{
    height: 200px;
}
#img3{
    height: 200px;
}
.sub{
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    display: block;
    border-style: hidden;
    margin-left: 500px;
    margin-top: 50px;
}
.bter1{
    font-size: 30px;
    color: gold;
    font-style: italic;
    font-weight: bolder;
}
.bter2{
    font-size: 50px;
    padding-bottom: 100px;
    text-align: center;
    color:white;
}
.bter3{
    display: flex;
}
.btn{
    background: #ffa500;
    padding: 20px;
    margin-left: 350px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    display: block;
    border-style: hidden;
}
